<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_BundledDocs>
            <version>1.0.0</version>
        </Meanbee_BundledDocs>
    </modules>
    <global>
        <models>
            <docs>
                <class>Meanbee_BundledDocs_Model</class>
            </docs>
        </models>
        <blocks>
            <docs>
                <class>Meanbee_BundledDocs_Block</class>
            </docs>
        </blocks>
        <helpers>
            <docs>
                <class>Meanbee_BundledDocs_Helper</class>
            </docs>
        </helpers>
    </global>

    <adminhtml>
        <menu>
            <system>
                <children>
                    <docs>
                        <title>Extension Documentation</title>
                        <action>adminhtml/help/view</action>
                        <sort_order>99999</sort_order>
                    </docs>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <docs>
                    <file>meanbee/bundleddocs.xml</file>
                </docs>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <docs after="Mage_Adminhtml">Meanbee_BundledDocs</docs>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>